*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e2e0e0;
}
.App{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 4fr 2fr 4fr;
}
.ground{
    width: 100vw;
    background-color: #092328;
    grid-column: 1/3;
}
.select{
    padding: 0px;
    color: #565454;
    display: grid;
    align-content: center;
    text-align: center;
    font-size: 10vw;
    grid-column: 2/3;
}
// @media screen and (max-width: 700px) {
//     .select {
//         height: 9vh;
//         font-size: 8.5vh;
//     }
//     .ground{
//         height:( 91vh / 2);
//     }
//   }